<script>
    $(document).ready(() => {
        socket.on('alert', data => {
            $('#alertModal .modal-body')[0].innerText = data;
            $('#alertModal').modal('show');
        });
    })
</script>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>