<div class="modal fade" id="joinRoomModal" tabindex="-1" role="dialog" aria-labelledby="joinRoomModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinRoomModalLongTitle">Войти в эту комнату?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Игрок: </b> <span id="jrmOwner">username</span></p>
        <p><b>Ставка: </b> <span id="jrmBet">100</span></p>
        <p><b>Время на ход: </b> <span id="jrmTime">120</span>сек</p>
        <p><b>Описание: </b> <span id="jrmDescr">санек заходи блять</span></p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary disabled">Войти как зритель</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
        <a class="btn btn-success">Да, войти</a>
      </div>
    </div>
  </div>
</div>