<% layout('./layout/page.ejs')%>
<% block('title', "Почта не подтверждена") %>

<p style="text-align: center">
    Кажется, вы еще не подтвердили свой почтовый адрес...<br> 
    На вашу почту <b><%= email %></b> было отправлено письмо со ссылкой для подтверждения
</p>