<% layout('./layout/page.ejs')%>
<% block('title', "Контакты") %>

<div class="text-center">
    <h3>Контакты</h3>
    <p>Напишите нам, пожалуйста</p>
    <div class="infoblock mb-2">
        <p><a href="t.me/">Telegram: @supergames</a></p>
    </div>

    <div class="infoblock mb-2">
        <p><a href="vk.com/">VK.com/supergames</a></p>
    </div>

    <div class="infoblock">
        <p><a href="emailto:support@mail.com">Email: support@supergames.com</a></p>
    </div>

</div>