//main
$clrBack: #232323;
$szMaxWidth: 1100px;

//color schema
$clrAccent: #95dade;
$clrPrimaryText: #aaa;
$clrNonPrimary: #787171;

$clrLink: white;
$clrLinkHover: #ccc;

 // -blocks
$clrDarkerContainer: #191717;
$clrLighterContainer: #262525;

//workspace
$clrWorkspaceBack: #363636;

// header
$clrHeaderBack: #0c0b0b;
$szHeaderHeight: 30px;
$szHeaderHeightM: 55px;

//nav
$szNavWidth: 220px;

//chat
$szChatWidth: 200px;